{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/css/page_add.css' %}">

    <h1 id="header">Add Page</h1>

    <label for="page-name-input">Name:</label>
    <input type="text" id="page-name-input">
    <button onclick="addRecord(null, null)">+ new record</button>

    <button hidden id="preview-button" style="float: right" onclick="window.location.replace('/pages/page/' + pageId);">view page</button>
    <br>

    <div id='main'>

    </div>

    <br>
    <button onclick="save()" style="float:left">Save</button>
    <p id="save-response-p" style="float:left"></p>
    <button hidden id="delete-page-button" onclick="deletePage()" style="float: right">Delete</button>
    <br>
    <br>

    <a href='{% url 'page_index' %}'>Pages Home</a>

    <script>
        // store page id from http request to be accessed in page_add.js
        pageId = '{{ page_id }}'.replaceAll('&quot;', '');
    </script>
    <script src='{% static "pages/js/page_add.js" %}'></script>
{% endblock %}