{% extends 'base.html' %}
{% block content %}
    {%  load static %}
    <link rel="stylesheet" href="{% static 'pages/css/page_add.css' %}">

    <h1>Add Page</h1>

    <label for="page-name-input">Name:</label>
    <input type="text" id="page-name-input">
    <button onclick="add_record(null)">+ new record</button>
    <br>

    <div id='main'>

    </div>

    <br>
    <button onclick="save()" style="float:left">Save</button>
    <p id="save-response-p" style="float:left"></p>
    <br>
    <br>

    <a href='{% url 'page_index' %}'>Pages Home</a>
    <script src='{% static "pages/js/page_add.js" %}'></script>
{% endblock %}