{% extends 'base.html' %}

{% block content %}
    <h1>Announcements</h1>
    <table>
    {% for post in blog_posts %}
        <tr>
            <ul style="list-style: none">
                <li style="text-decoration: underline"><strong>{{ post.title }}</strong></li>
                <br>
                <li>{{ post.text }}</li>
                <br>
                <li><i>{{ post.author }}</i></li>
                <br>
            </ul>
        </tr>
        <hr>
    {% endfor %}
    </table>
{% endblock %}